
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/students.css" type="text/css">
    <title>Document</title>
</head>

<body>
    
    <h1>Bienvenu Mr <%= user.username %> </h1>
    <a href="/trajet/trajets">voir les trajets</a>
    
    
</body>
</html>